BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
SortIncludes: true
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true